@charset "utf-8";
/* CSS Document */

#wrapper {
width: 50%;
margin: 0 auto;
text-align: center;
align-items: center;
}

 #schnauzer {
border: indigo 5px solid;
	width: 25%;
	 align: center;
}
 
 #schnauzerFun {
display: none; /* hides content */
border:blue 5px solid;
	 width: 25%;
	  align: center;
}
.choices {
	cursor: pointer;
}
 .hover-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
h4 {
 color:deepskyblue;	
}
.hover-text {
            display: none;
            color:blue;
            font-size: 20px;
			text-align: center;
			font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
        }

.hover-area {
            padding: 10px;
            margin: 10px 0;
            border: 2px solid black;
            width: 250px;
            text-align: center;
            cursor: pointer;
            background-color: #f0f0f0;
			color:black;
			font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
        }